@charset "utf-8";
/* CSS Document */


.person1{
	height: 50px;
	width: 50px;
	float: left;
	font-size: 2px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.person2{
	height: 50px;
	width: 50px;
	display: inline;
	float: right;
	font-size: 2px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	/*background-image: url('pictures/person2.png');*/
}

hr{/*f2f2f2*/
	color: #f2f2f2;
	line-height: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#chat-window .p1{
	color: #434343;
	font-size: 1em;
	/*font-family: Verdana;*/
	text-align: left;
    display: inline; 
    vertical-align: bottom;
    margin-right: 70px;
}
#chat-window .p2{
	color: #434343;
    /*font-family: Verdana;*/
    font-size: 1em;
	text-align: right;
	display: inline; 
    /*vertical-align: text-bottom;*/
    margin-left: 70px;
    float:right;
}
#chat-window{
	/*background-position: top;*/
	border-radius:0px;
	background-color: #ffffff;
	height: 400px;
	width:600px;
	margin: auto;
	overflow: auto;
	border-right: 2px solid #b2b2b2;
	border-left: 2px solid #b2b2b2;
}
#chat-bar{/*top bar*/
	background-color: #ededed;
	width: 600px;
	margin: auto;
	height: 30px;
	/*border-bottom:2px solid #b2b2b2;*/
	border-right: 2px solid #b2b2b2;
	border-left: 2px solid #b2b2b2;
	border-top: 2px solid #b2b2b2;
}
#chat-bar #settings{
	height: 20px;
	width: 20px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	display: inline-block;
}
#settings:hover {
	background-color: #6e6e6e;
}
#settings:active {
	position:relative;
	top:1px;
}
#chat-bar #help{
	height: 20px;
	width: 20px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	display: inline-block;
}
#help:hover {
	background-color: #6e6e6e;
}
#help:active {
	position:relative;
	top:1px;
}
#chat-bar #exit{
	height: 20px;
	width: 20px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	display: inline-block;
}
#exit:hover {
	background-color: #6e6e6e;
}
#exit:active {
	position:relative;
	top:1px;
}
#arrow{
	height: 7px;
	width: 10px;
	display: inline-block;
}
#scenario{
    /*	background-color: red;*/
	width: 145px;
	height: 20px;
	/*border-bottom:2px solid #b2b2b2;*/
    /*	border-right: 2px solid #b2b2b2;
	border-bottom: 2px solid #b2b2b2;*/
	display: inline-block;
	margin-top: 3px;
	margin-left: 14px;
}
#scenario:hover {
	background-color: #6e6e6e;
}
#scenario:active {
	position:relative;
	top:1px;
}
#space1 {
    /*	background-color: red;*/
	height:29px;
	/*opacity: 0.4;*/
	margin: auto;
}
#version{
	display: inline-block;
	color:black;
	font-size: 1em;
	margin-left: 2px;
}
#chat-window2{
	background-position: top;
	border-radius:0px;
	background-color: #ffffff;
	/*height: 34px;*/
	height: 38px;
	width:600px;
	margin: auto;
	overflow: auto;
	border-right: 2px solid #b2b2b2;
	border-left: 2px solid #b2b2b2;
	border-bottom: 2px solid #b2b2b2;
	overflow: hidden;
}
#text-bar{
	height: 40px;
	width: 451px;
	border: 1px solid #b2b2b2;
	background-color: #ffffff;
	border-radius: 0px;
    margin-top: 2px;
    margin-left: 2px;
    display: inline-block;
    font-size: 20;
    overflow: hidden;
}
.blinking{
	display: inline-block;
	margin-top: 2px;
	margin-left: 5px;
}
#send-bar{
	height: 30px;
	width: 109px;
	border: 1px solid #b2b2b2;
	border-radius: 0px;
	background-color: #dcdcdc;
    margin-top: 2px;
    margin-left: 0px; 
    margin-right: 2px;
    float: right;
    display: inline-block;
}


.textbar {
	background-color:#ffffff;
	border:1px solid #b2b2b2;
	display:inline-block;
	color:#454545;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	/*padding:2px 5px;*/
	text-decoration:none;
	width: 509px;
	height: 28px;
	margin-top: 0px;
    margin-left: 2px;
    display: inline-block;
    overflow: hidden;
}
.textbar:hover {
	background-color:#efefef;
}
.textbar:active {
	background-color: #efefef;
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


.send {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	height: 28px;
	font-size:20px;
	font-weight:bold;
	padding: 2px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
    display: inline-block;
}.send:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.send:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */



a:hover {
	color: #cc0;
	font-weight: bold;
	text-decoration: none;
	margin: right;
}



/*#cssmenu{ height:37px; display:block; padding:0; margin: 0px 110px;  border:1px solid; border-radius:0px; width: 700px;} */
#cssmenu > ul {list-style:inside none; padding:0; margin:0;} 
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;} 
#cssmenu > ul > li > a{ outline:none; display:block; position:relative; padding:7px 20px; /*change height of origional box here*/ font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); } 
#cssmenu > ul > li:first-child > a{border-radius:0px 0 0 0px;} 
/*#cssmenu > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; } */
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#cssmenu > ul > li.has-sub > a:before{ content:''; position:absolute; top:12px; right:6px; border:5px solid transparent; border-top:5px solid #fff; } 
#cssmenu > ul > li.has-sub:hover > a:before{top:11px;} 
#cssmenu ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:8px; padding-top:8px; top:-1px; z-index:999; } 
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;} 
/*#cssmenu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;} */
#cssmenu ul li > ul, #cssmenu ul li > div{ display:none; width: 100px; position:absolute; top:26px; padding:0px 0; background:#3f3f3f; border-radius:0 0 0px 0px; z-index:999; } 
#cssmenu ul li > ul{width:100px;} 
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#cssmenu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color:#fff; /*drop down text color*/ text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 

#cssmenu, #cssmenu > ul > li > ul > li a:hover{ background:#6e6e6e; background:-moz-linear-gradient(top, #ff9812 0%, #e17310 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,green), color-stop(100%,blue)); background:-webkit-linear-gradient(top, #6e6e6e 0%, #6e6e6e 100%); background:-o-linear-gradient(top, blue 0%,red 100%); background:-ms-linear-gradient(top, red 0%,blue 100%); background:linear-gradient(top, #ff9812 0%,#e17310 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9812', endColorstr='#e17310',GradientType=0); } 
/*#cssmenu{border-color: purple;} */
#cssmenu > ul > li > a{/*border-right:1px solid #b05a0d;*/ color:#fff; /*title color*/} 
/*#cssmenu > ul > li > a:after{border-color: blue;} */
/*#cssmenu > ul > li > a:hover{background:red;} */



#bubblebox{
	position: absolute;
	/*position: relative;*/
	/*background-color: red;*/
	border-radius:0px;
	height: 399px;
	width:580px;
	margin: auto;
	overflow: hidden;
}


.bubble {
    /*position: relative;*/
    position: absolute;
    width: auto;
    max-width: 130px;
    height: auto;
    padding: 5px;
    background: #f1deb0;
    border: #e1d1ae solid 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*margin-left: 465px;
    margin-top: 335px;*/
    right:1px;
    bottom: 16px;
}

.bubble:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 25px;
    border-style: solid;
    border-width: 13px 11px 0;
    border-color: #f1deb0 transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.bubble:before {
    content: "";
    position: absolute;
    /*top: -1 0px;*/
    left: 24px;
    bottom:-15px;
    border-style: solid;
    border-width: 14px 12px 0;
    border-color: #e1d1ae transparent;
    display: block;
    width: 0;
    z-index: 0;
}





